## Prueba #0203

In [1]:
import pandas as pd
import numpy as np
import os

#### Leer los datos.

In [2]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./')                # Reemplazar por la ruta correcta.

In [3]:
df = pd.read_csv('data_sales.csv', header='infer')

In [4]:
df.shape

(43, 5)

In [5]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Responda las siguientes cuestiones.

1). Añada una nueva variable $Amount = UnitPric \times Units$.

In [6]:
df["Amount"] = df.UnitPrice * df.Units

# Otra solución
# df["Amount"] = df["UnitPrice"] * df["Units"]

In [7]:
df.head()

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

2). Precio unitario medio de cada región. Use el método groupby().

In [8]:
df.groupby("Region").UnitPrice.mean()

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

In [9]:
# Otra solución
df.groupby("Region").UnitPrice.agg("mean")

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

3). Precio unitario medio de cada región. Use el método pivot_table().

In [10]:
df.pivot_table(index = "Region", values = "UnitPrice", aggfunc = [np.mean])

              mean
         UnitPrice
Region
Central  18.018750
East      9.143846
West     53.658333

4). Precio unitario promedio y unidades para cada región en una sentencia de código. Use el método groupby().

In [11]:
pd.DataFrame(df.groupby(["Region"]).UnitPrice.mean()).join(pd.DataFrame(df.groupby(["Region"]).Units.sum()))

         UnitPrice  Units
Region
Central  18.018750   1199
East      9.143846    691
West     53.658333    231

5). Promedio del precio unitario y de las unidades para cada región en una sentencia de código. Use el método pivot_table().

In [12]:
df.pivot_table(index = "Region", values = ["UnitPrice", "Units"], aggfunc = [np.mean])

              mean
         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

6). Unidades totales para cada región y tipo de artículo en una sentencia de código. Use el método pivot_table(). Rellene los valores faltantes con 0.

In [13]:
df.pivot_table(index = ["Region", "Item"], values = ["Units"], aggfunc = [np.sum], dropna = False, fill_value = 0)

                  sum
                Units
Region  Item
Central Binder    424
        Desk        7
        Pen        27
        Pen Set   243
        Pencil    498
East    Binder    234
        Desk        0
        Pen       175
        Pen Set   152
        Pencil    130
West    Binder     64
        Desk        3
        Pen        76
        Pen Set     0
        Pencil     88

In [14]:
# Otra solución
df.pivot_table(index = ["Region"], columns = ["Item"], aggfunc = [np.sum],  values = ["Units"], fill_value = 0)

           sum
         Units
Item    Binder Desk  Pen Pen Set Pencil
Region
Central    424    7   27     243    498
East       234    0  175     152    130
West        64    3   76       0     88

7). Cantidad total de ventas para cada región y tipo de artículo en una sentencia de código. Use el método pivot_table(). Rellene los valores faltantes con 0.

In [15]:
df.pivot_table(index = ["Region", "Item"], values = ["Amount"], aggfunc = [np.sum], dropna = False, fill_value = 0)

                     sum
                  Amount
Region  Item
Central Binder   5762.63
        Desk      875.00
        Pen       539.73
        Pen Set  2421.39
        Pencil   1540.32
East    Binder   2535.66
        Desk        0.00
        Pen      1354.25
        Pen Set  1748.48
        Pencil    363.70
West    Binder   1279.36
        Desk      825.00
        Pen       151.24
        Pen Set     0.00
        Pencil    231.12

In [16]:
# Otra solución
df.pivot_table(index = ["Region"], columns = ["Item"], aggfunc = [np.sum],  values = ["Amount"], fill_value = 0)

             sum
          Amount
Item      Binder Desk      Pen  Pen Set   Pencil
Region
Central  5762.63  875   539.73  2421.39  1540.32
East     2535.66    0  1354.25  1748.48   363.70
West     1279.36  825   151.24     0.00   231.12