## Prueba #0201

In [1]:
import pandas as pd
import os

#### Leer los datos.

In [2]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./')                # Reemplazar por la ruta correcta.

In [3]:
df = pd.read_csv('data_studentlist.csv', header='infer')

In [4]:
df.head(5)

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

#### Responda a las preguntas utilizando la librería Pandas.

1). Altura media de los alumnos:

In [5]:
df[df["gender"] == "M"].height.mean()

172.41

In [6]:
# Otra solución
df.loc[df["gender"] == "M"].height.mean()

172.41

In [7]:
# Otra solución
df.where(df["gender"] == "M").height.mean()

172.41

In [8]:
# Otra solución
df.loc[df["gender"] == "M"].height.agg("mean")

172.41

2). Altura media de las alumnas:

In [9]:
df[df["gender"] == "F"].height.mean()

166.64285714285714

In [10]:
# Otra solución
df.loc[df["gender"] == "F"].height.mean()

166.64285714285714

In [11]:
# Otra solución
df.where(df["gender"] == "F").height.mean()

166.64285714285714

In [12]:
# Otra solución
df.loc[df["gender"] == "F"].height.agg("mean")

166.64285714285714

3). Peso medio de los alumnos:

In [13]:
df[df["gender"] == "M"].weight.mean()

68.50000000000001

In [14]:
# Otra solución
df.loc[df["gender"] == "M"].weight.mean()

68.50000000000001

In [15]:
# Otra solución
df.where(df["gender"] == "M").weight.mean()

68.50000000000001

In [16]:
# Otra solución
df.loc[df["gender"] == "M"].weight.agg("mean")

68.50000000000001

4). Peso medio de las alumnas:

In [17]:
df[df["gender"] == "F"].weight.mean()

50.44285714285714

In [18]:
# Otra solución
df.loc[df["gender"] == "F"].weight.mean()

50.44285714285714

In [19]:
# Otra solución
df.where(df["gender"] == "F").weight.mean()

50.44285714285714

In [20]:
# Otra solución
df.loc[df["gender"] == "F"].weight.agg("mean")

50.44285714285714

5). La altura más alta entre los alumnos:

In [21]:
# Validación
df[df["gender"] == "M"].height.sort_values()

12    162.2
0     165.3
10    167.1
15    168.6
16    169.2
2     175.0
9     176.1
8     178.5
11    180.0
3     182.1
Name: height, dtype: float64

In [22]:
df[df["gender"] == "M"].height.max()

182.1

In [23]:
# Otra solución
df.loc[df["gender"] == "M"].height.max()

182.1

In [24]:
# Otra solución
df.where(df["gender"] == "M").height.max()

182.1

In [25]:
# Otra solución
df.loc[df["gender"] == "M"].height.agg("max")

182.1

6). La altura más baja entre las alumnas:

In [26]:
# Validación
df[df["gender"] == "F"].height.sort_values()

6     155.2
14    158.2
5     162.0
4     168.0
1     170.1
13    176.1
7     176.9
Name: height, dtype: float64

In [27]:
df[df["gender"] == "F"].height.min()

155.2

In [28]:
# Otra solución
df.loc[df["gender"] == "F"].height.min()

155.2

In [29]:
# Otra solución
df.where(df["gender"] == "F").height.min()

155.2

In [30]:
# Otra solución
df.loc[df["gender"] == "F"].height.agg("min")

155.2

7). El peso menor entre los alumnos de estatura superior a 175 cm:

In [31]:
# Validación
df[(df["gender"] == "M" ) & (df["height"] > 175 )]

              name gender  age  grade absence bloodtype  height  weight
3     David Hassel      M   23      3       N        AB   182.1    85.7
8     John Bertsch      M   23      3       N         B   178.5    64.2
9   Jake Timmerman      M   22      2       N         B   176.1    61.3
11    John Matsuda      M   22      2       N        AB   180.0    75.8

In [32]:
df[(df["gender"] == "M" ) & (df["height"] > 175 )] .weight.min()

61.3

8). El peso mayor entre las alumnas de altura inferior a 160 cm:

In [33]:
# Validación
df[(df["gender"] == "F"  ) & (df["height"] < 160)]

            name gender  age  grade absence bloodtype  height  weight
6    Susan Clark      F   22      1       N         O   155.2    45.3
14  Linda Carter      F   22      2       N         B   158.2    45.2

In [34]:
df[(df["gender"] == "F"  ) & (df["height"] < 160)].weight.max()

45.3

9). La calificación promedio de los estudiantes sin ausencia ('N'):

In [35]:
df[df["absence"] =="N"].grade.mean()

2.076923076923077

10). La calificación promedio de los estudiantes con ausencia ('Y'):

In [36]:
df[df["absence"] == "Y"].grade.mean()

3.0

11). Altura media de los estudiantes con tipo de sangre 'A' o 'AB':

In [37]:
# Validación
df[(df["bloodtype"] == "A"  ) | (df["bloodtype"] == "AB")]

               name gender  age  grade absence bloodtype  height  weight
1    Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
3      David Hassel      M   23      3       N        AB   182.1    85.7
4   Clara Rodriquez      F   20      1       Y         A   168.0    49.5
7   Margareth Jones      F   23      1       N         A   176.9    55.0
11     John Matsuda      M   22      2       N        AB   180.0    75.8
12     Eddy Johnson      M   21      1       N         A   162.2    55.3
16      Andrew King      M   21      1       N         A   169.2    62.2

12). Altura promedio de los estudiantes **masculinos** con tipo de sangre 'A' o 'AB':

In [38]:
df[(df["bloodtype"] == "A"  ) | (df["bloodtype"] == "AB")].height.mean()

172.64285714285714

13). Edad promedio de los estudiantes con ausencia ('Y') cuya calificación es igual o mayor a 3:

In [39]:
# Validación
df[(df["absence"] =="Y"  ) & (df["grade"] >= 3)]

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
10   Joshua Connor      M   24      4       Y         O   167.1    62.0
15  Richard Swayze      M   24      4       Y         B   168.6    70.2

In [40]:
df[(df ["absence"] == "Y"  ) & (df["grade"] >= 3)].age.mean()

23.666666666666668