## Prueba #0201

In [6]:
import pandas as pd
import os

#### Leer los datos.

In [7]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./' )               # Reemplazar por la ruta correcta.

In [8]:
df = pd.read_csv('data_studentlist.csv', header='infer')

In [9]:
df.head(5)

              name gender  age  grade absence bloodtype  height  weight
0    Jared Diamond      M   23      3       Y         O   165.3    68.2
1   Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2     Brian Martin      M   24      4       N         B   175.0    80.1
3     David Hassel      M   23      3       N        AB   182.1    85.7
4  Clara Rodriquez      F   20      1       Y         A   168.0    49.5

#### Responda a las preguntas utilizando la librería Pandas.

1). Altura media de los alumnos:

In [5]:
df[df.gender == 'M'].height.mean()

172.41

2). Altura media de las alumnas:

In [6]:
df.where(df.gender == 'F').height.mean()

166.64285714285714

3). Peso medio de los alumnos:

In [7]:
df.query("gender == 'M'").weight.mean()

68.50000000000001

4). Peso medio de las alumnas:

In [8]:
df.groupby('gender').weight.mean()['F']

50.44285714285714

5). La altura más alta entre los alumnos:

In [9]:
df[df.gender == 'M'].height.max()

182.1

6). La altura más baja entre las alumnas:

In [10]:
df.where(df.gender == 'F').height.min()

155.2

7). El peso menor entre los alumnos de estatura superior a 175 cm:

In [11]:
df.query("gender == 'M' & height > 175").weight.min()

61.3

8). El peso mayor entre las alumnas de altura inferior a 160 cm:

In [12]:
df[(df.gender == 'F') & (df.height<160)].weight.max()

45.3

9). La calificación promedio de los estudiantes sin ausencia ('N'):

In [13]:
df[df.absence == 'N'].grade.mean()

2.076923076923077

10). La calificación promedio de los estudiantes con ausencia ('Y'):

In [14]:
df.where(df.absence == 'Y').grade.mean()

3.0

11). Altura media de los estudiantes con tipo de sangre 'A' o 'AB':

In [15]:
df[(df.bloodtype == 'A') | (df.bloodtype == 'AB')].height.mean()

172.64285714285714

12). Altura promedio de los estudiantes **masculinos** con tipo de sangre 'A' o 'AB':

In [16]:
#df[(df.gender == 'M') & ((df.bloodtype == 'A') | (df.bloodtype == 'AB'))].height.mean()
df.query("gender == 'M' & (bloodtype == 'A' | bloodtype == 'AB')").height.mean()

173.375

13). Edad promedio de los estudiantes con ausencia ('Y') cuya calificación es igual o mayor a 3:

In [85]:
df.query("absence == 'Y' & grade >= 3").age.mean()

23.666666666666668