## Prueba #0101

#### Provide the answers in Python code:

1).  En la clase A, las alturas de los estudiantes son:

161.5 <br>
165.9 <br>
168.7 <br>
163.1 <br>
170.8 <br>
167.2 <br>

Calcular la altura media utilizando 'list' y el bucle 'for' de Python:

In [1]:
import statistics
altura_clase_A = [161.5,165.9,168.7,163.1,170.8,167.2]
mean = statistics.mean(altura_clase_A)
print(mean)

166.2

2).  En la clase B, las alturas de los estudiantes son:

172.5 <br>
162.9 <br>
161.7 <br>
160.1 <br>
161.8 <br>
169.2 <br>

Calcular la altura media utilizando 'list' y el bucle 'for' de Python:

In [2]:
import statistics
altura_clase_B = [172.5,162.9,161.7,160.1,161.8,169.2]
mean = statistics.mean(altura_clase_B)
print(mean)

164.7

3). La clase A y la clase B se unen para formar la clase AB. Calcule la altura media utilizando 'list' y el bucle 'for' de Python:

In [3]:
import statistics
altura_clase_A = [161.5,165.9,168.7,163.1,170.8,167.2]
altura_clase_B = [172.5,162.9,161.7,160.1,161.8,169.2]
mean = statistics.mean(altura_clase_A + altura_clase_B)
print(mean)

165.45

4). Ordenar las alturas de la clase AB.

In [4]:
altura_clase_A = [161.5,165.9,168.7,163.1,170.8,167.2]
altura_clase_B = [172.5,162.9,161.7,160.1,161.8,169.2]
altura_clase_AB = altura_clase_A + altura_clase_B
sorted(altura_clase_AB)

[160.1,
 161.5,
 161.7,
 161.8,
 162.9,
 163.1,
 165.9,
 167.2,
 168.7,
 169.2,
 170.8,
 172.5]

5). La clase C se forma con estudiantes con una altura inferior a 165. Haga una lista que contenga las alturas de la clase C.

In [5]:

altura_clase_A = [161.5,165.9,168.7,163.1,170.8,167.2]
altura_clase_B = [172.5,162.9,161.7,160.1,161.8,169.2]
altura_clase_AB = altura_clase_A + altura_clase_B

altura_clase_C = []
for altura in altura_clase_AB:
    if float(altura)>165:
        altura_clase_C.append(float(altura))
altura_clase_C

[165.9, 168.7, 170.8, 167.2, 172.5, 169.2]

6). La clase D se forma con estudiantes con una altura mayor que 160 y menor que 170. Haga una lista que contenga las alturas de la clase D.

In [6]:
altura_clase_A = [161.5,165.9,168.7,163.1,170.8,167.2]
altura_clase_B = [172.5,162.9,161.7,160.1,161.8,169.2]
altura_clase_AB = altura_clase_A + altura_clase_B

altura_clase_D = []
for altura in altura_clase_AB:
    if float(altura)>160 and float(altura)<170 :
        altura_clase_D.append(float(altura))
altura_clase_D

[161.5, 165.9, 168.7, 163.1, 167.2, 162.9, 161.7, 160.1, 161.8, 169.2]