## Prueba #0102

#### Use una función lambda y `map()` para responder las siguientes preguntas.

1). Agregue 1 a cada elemento de la lista 'a' y cree otra lista. <br>

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mapped_a = list(map(lambda x: x + 1, a))
print(mapped_a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

2). Multiplique los elementos las listas 'a' y 'b'. Mostrar el resultado como otra lista.

a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

In [3]:
a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

mapped_ab = list(map(lambda x,y: x*y , a,b))
print(mapped_ab)

[20, 32, 36, 32, 20]

#### Use una función lambda y `filter()` para responder las siguientes preguntas.

3). Encuentra los múltiplos de 5 en el rango 1 ~ 100. Mostrar el resultado como una lista.

In [4]:
multiplos = list(filter(lambda x:True if x % 5 == 0 else False, range(100))) #Acuerdate de que el range tiene que ser +1 si quieres que tu número final sea 100!! y del inicio (1)
print(multiplos)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

4). En la siguiente lista, encuentre los valores mayores que 160. Muestre el resultado como una lista.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [6]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]
mayores = list(filter(lambda x : x > 160 , a))
print(mayores)

[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]

5). En la siguiente lista, encuentre los valores mayores que 160 y menores que 165. Muestre el resultado como una lista.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [2]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]
menores = list(filter(lambda x : x < 165 , a))
mayores = list(filter(lambda x : x > 160 and x < 165, a))

print(menores)
print(mayores)

[145.2, 160.3, 155.2, 161.1, 164.9]
[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]

6). En la siguiente lista de nombres, extraiga solo aquellos que comienzan con 'J'. Mostrar el resultado como una lista.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [17]:
a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']
letra = list (filter(lambda x : x[0] == 'J', a))
print(letra)

['Jack', 'Jennifer', 'John']