## Prueba #0203

In [1]:
import pandas as pd
import numpy as np
import os

#### Leer los datos.

In [4]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./')                # Reemplazar por la ruta correcta.

In [5]:
df = pd.read_csv('data_sales.csv', header='infer')

In [6]:
df.shape

(43, 5)

In [7]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Responda las siguientes cuestiones.

1). Añada una nueva variable $Amount = UnitPric \times Units$.

In [9]:
df['Amount'] = df.UnitPrice * df.Units
df.head(5)

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

2). Precio unitario medio de cada región. Use el método groupby().

3). Precio unitario medio de cada región. Use el método pivot_table().

4). Precio unitario promedio y unidades para cada región en una sentencia de código. Use el método groupby().

5). Promedio del precio unitario y de las unidades para cada región en una sentencia de código. Use el método pivot_table().

6). Unidades totales para cada región y tipo de artículo en una sentencia de código. Use el método pivot_table(). Rellene los valores faltantes con 0.

7). Cantidad total de ventas para cada región y tipo de artículo en una sentencia de código. Use el método pivot_table(). Rellene los valores faltantes con 0.