## Prueba #0502

### "Reconocimiento de actividad humana"

#### Responda las siguientes preguntas proporcionando código Python:
#### Objetivos:
- Realizar la EDA.
- Realizar el preprocesamiento de los datos.
- Optimice y pruebe un modelo predictivo de su elección.

In [3]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.0-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.20.1)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.6.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.0

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn import metrics, preprocessing
warnings.filterwarnings(action='ignore')                  # Desactivar las advertencias.
%matplotlib inline

#### Leer los datos:
La explicación sobre el conjunto de datos se puede encontrar [aquí](https://archive.ics.uci.edu/ml/datasets/human+activity+recognition+using+smartphones).

In [10]:
# Ir al directorio dónde se ecuentra el fichero 
os.chdir(r'./Data')                # Reemplazar por la ruta adecuada

In [11]:
df = pd.read_csv('data_human activity recognition.csv', header='infer')

In [12]:
df.shape

(19622, 160)

In [13]:
df.columns

Index(['Unnamed: 0', 'user_name', 'raw_timestamp_part_1',
       'raw_timestamp_part_2', 'cvtd_timestamp', 'new_window', 'num_window',
       'roll_belt', 'pitch_belt', 'yaw_belt',
       ...
       'gyros_forearm_x', 'gyros_forearm_y', 'gyros_forearm_z',
       'accel_forearm_x', 'accel_forearm_y', 'accel_forearm_z',
       'magnet_forearm_x', 'magnet_forearm_y', 'magnet_forearm_z', 'classe'],
      dtype='object', length=160)

In [14]:
df.head()

,Unnamed: 0,user_name,raw_timestamp_part_1,raw_timestamp_part_2,cvtd_timestamp,new_window,num_window,roll_belt,pitch_belt,yaw_belt,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,classe
0,1,carlitos,1323084231,788290,05/12/2011 11:23,no,11,1.41,8.07,-94.4,...,0.03,0.00,-0.02,192,203,-215,-17,654.0,476.0,A
1,2,carlitos,1323084231,808298,05/12/2011 11:23,no,11,1.41,8.07,-94.4,...,0.02,0.00,-0.02,192,203,-216,-18,661.0,473.0,A
2,3,carlitos,1323084231,820366,05/12/2011 11:23,no,11,1.42,8.07,-94.4,...,0.03,-0.02,0.00,196,204,-213,-18,658.0,469.0,A
3,4,carlitos,1323084232,120339,05/12/2011 11:23,no,12,1.48,8.05,-94.4,...,0.02,-0.02,0.00,189,206,-214,-16,658.0,469.0,A
4,5,carlitos,1323084232,196328,05/12/2011 11:23,no,12,1.48,8.07,-94.4,...,0.02,0.00,-0.02,189,206,-214,-17,655.0,473.0,A

1). Realice la EDA. Compruebe los valores faltantes. SUGERENCIA: La variable de respuesta es 'clase'.

In [42]:
#EDA significa Exploratory Data Analysis
print(df.isnull().sum().sum()) #Nos da la cantidad de NaN en el dataset

1921600

In [43]:
df.isnull()

,Unnamed: 0,user_name,raw_timestamp_part_1,raw_timestamp_part_2,cvtd_timestamp,new_window,num_window,roll_belt,pitch_belt,yaw_belt,...,gyros_forearm_x,gyros_forearm_y,gyros_forearm_z,accel_forearm_x,accel_forearm_y,accel_forearm_z,magnet_forearm_x,magnet_forearm_y,magnet_forearm_z,classe
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19617,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19618,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19619,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19620,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19621,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [55]:
for i in range(int(len(df.index)/50)) :
    print("Nan in row ", i , " : " ,  df.iloc[i].isnull().sum())

Nan in row  0  :  100
Nan in row  1  :  100
Nan in row  2  :  100
Nan in row  3  :  100
Nan in row  4  :  100
Nan in row  5  :  100
Nan in row  6  :  100
Nan in row  7  :  100
Nan in row  8  :  100
Nan in row  9  :  100
Nan in row  10  :  100
Nan in row  11  :  100
Nan in row  12  :  100
Nan in row  13  :  100
Nan in row  14  :  100
Nan in row  15  :  100
Nan in row  16  :  100
Nan in row  17  :  100
Nan in row  18  :  100
Nan in row  19  :  100
Nan in row  20  :  100
Nan in row  21  :  100
Nan in row  22  :  100
Nan in row  23  :  0
Nan in row  24  :  100
Nan in row  25  :  100
Nan in row  26  :  100
Nan in row  27  :  100
Nan in row  28  :  100
Nan in row  29  :  100
Nan in row  30  :  100
Nan in row  31  :  100
Nan in row  32  :  100
Nan in row  33  :  100
Nan in row  34  :  100
Nan in row  35  :  100
Nan in row  36  :  100
Nan in row  37  :  100
Nan in row  38  :  100
Nan in row  39  :  100
Nan in row  40  :  100
Nan in row  41  :  100
Nan in row  42  :  100
Nan in row  43  :  100
Nan in row  44  :  100
Nan in row  45  :  100
Nan in row  46  :  100
Nan in row  47  :  100
Nan in row  48  :  100
Nan in row  49  :  100
Nan in row  50  :  100
Nan in row  51  :  0
Nan in row  52  :  100
Nan in row  53  :  100
Nan in row  54  :  100
Nan in row  55  :  100
Nan in row  56  :  100
Nan in row  57  :  100
Nan in row  58  :  100
Nan in row  59  :  100
Nan in row  60  :  100
Nan in row  61  :  100
Nan in row  62  :  100
Nan in row  63  :  100
Nan in row  64  :  100
Nan in row  65  :  100
Nan in row  66  :  100
Nan in row  67  :  100
Nan in row  68  :  100
Nan in row  69  :  100
Nan in row  70  :  100
Nan in row  71  :  100
Nan in row  72  :  100
Nan in row  73  :  100
Nan in row  74  :  100
Nan in row  75  :  0
Nan in row  76  :  100
Nan in row  77  :  100
Nan in row  78  :  100
Nan in row  79  :  100
Nan in row  80  :  100
Nan in row  81  :  100
Nan in row  82  :  100
Nan in row  83  :  100
Nan in row  84  :  100
Nan in row  85  :  100
Nan in row  86  :  100
Nan in row  87  :  100
Nan in row  88  :  100
Nan in row  89  :  100
Nan in row  90  :  100
Nan in row  91  :  100
Nan in row  92  :  100
Nan in row  93  :  100
Nan in row  94  :  100
Nan in row  95  :  100
Nan in row  96  :  100
Nan in row  97  :  100
Nan in row  98  :  100
Nan in row  99  :  100
Nan in row  100  :  100
Nan in row  101  :  100
Nan in row  102  :  100
Nan in row  103  :  100
Nan in row  104  :  100
Nan in row  105  :  100
Nan in row  106  :  100
Nan in row  107  :  100
Nan in row  108  :  100
Nan in row  109  :  100
Nan in row  110  :  100
Nan in row  111  :  100
Nan in row  112  :  100
Nan in row  113  :  100
Nan in row  114  :  100
Nan in row  115  :  100
Nan in row  116  :  100
Nan in row  117  :  100
Nan in row  118  :  100
Nan in row  119  :  100
Nan in row  120  :  100
Nan in row  121  :  100
Nan in row  122  :  100
Nan in row  123  :  100
Nan in row  124  :  100
Nan in row  125  :  100
Nan in row  126  :  100
Nan in row  127  :  100
Nan in row  128  :  100
Nan in row  129  :  100
Nan in row  130  :  100
Nan in row  131  :  100
Nan in row  132  :  100
Nan in row  133  :  100
Nan in row  134  :  100
Nan in row  135  :  100
Nan in row  136  :  100
Nan in row  137  :  100
Nan in row  138  :  100
Nan in row  139  :  100
Nan in row  140  :  100
Nan in row  141  :  100
Nan in row  142  :  100
Nan in row  143  :  100
Nan in row  144  :  100
Nan in row  145  :  100
Nan in row  146  :  100
Nan in row  147  :  100
Nan in row  148  :  100
Nan in row  149  :  100
Nan in row  150  :  100
Nan in row  151  :  100
Nan in row  152  :  100
Nan in row  153  :  100
Nan in row  154  :  100
Nan in row  155  :  100
Nan in row  156  :  100
Nan in row  157  :  100
Nan in row  158  :  100
Nan in row  159  :  100
Nan in row  160  :  100
Nan in row  161  :  100
Nan in row  162  :  100
Nan in row  163  :  100
Nan in row  164  :  0
Nan in row  165  :  100
Nan in row  166  :  100
Nan in row  167  :  100
Nan in row  168  :  100
Nan in row  169  :  100
Nan in row  170  :  100
Nan in row  171  :  100
Nan in row  172  :  100
Nan in row  173  :  100
Nan in row  174  :  100
Nan in row  175  :  100
Nan in row  176  :  100
Nan in row  177  :  100
Nan in row  178  :  100
Nan in row  179  :  100
Nan in row  180  :  100
Nan in row  181  :  100
Nan in row  182  :  100
Nan in row  183  :  100
Nan in row  184  :  100
Nan in row  185  :  100
Nan in row  186  :  100
Nan in row  187  :  100
Nan in row  188  :  100
Nan in row  189  :  100
Nan in row  190  :  100
Nan in row  191  :  100
Nan in row  192  :  100
Nan in row  193  :  100
Nan in row  194  :  100
Nan in row  195  :  100
Nan in row  196  :  100
Nan in row  197  :  100
Nan in row  198  :  100
Nan in row  199  :  100
Nan in row  200  :  100
Nan in row  201  :  100
Nan in row  202  :  100
Nan in row  203  :  100
Nan in row  204  :  100
Nan in row  205  :  100
Nan in row  206  :  100
Nan in row  207  :  100
Nan in row  208  :  100
Nan in row  209  :  0
Nan in row  210  :  100
Nan in row  211  :  100
Nan in row  212  :  100
Nan in row  213  :  100
Nan in row  214  :  100
Nan in row  215  :  100
Nan in row  216  :  100
Nan in row  217  :  100
Nan in row  218  :  100
Nan in row  219  :  100
Nan in row  220  :  100
Nan in row  221  :  100
Nan in row  222  :  100
Nan in row  223  :  100
Nan in row  224  :  100
Nan in row  225  :  100
Nan in row  226  :  100
Nan in row  227  :  100
Nan in row  228  :  100
Nan in row  229  :  100
Nan in row  230  :  100
Nan in row  231  :  100
Nan in row  232  :  100
Nan in row  233  :  100
Nan in row  234  :  100
Nan in row  235  :  100
Nan in row  236  :  100
Nan in row  237  :  100
Nan in row  238  :  100
Nan in row  239  :  100
Nan in row  240  :  0
Nan in row  241  :  100
Nan in row  242  :  100
Nan in row  243  :  100
Nan in row  244  :  100
Nan in row  245  :  100
Nan in row  246  :  100
Nan in row  247  :  100
Nan in row  248  :  100
Nan in row  249  :  100
Nan in row  250  :  100
Nan in row  251  :  100
Nan in row  252  :  100
Nan in row  253  :  100
Nan in row  254  :  100
Nan in row  255  :  100
Nan in row  256  :  100
Nan in row  257  :  100
Nan in row  258  :  100
Nan in row  259  :  100
Nan in row  260  :  100
Nan in row  261  :  100
Nan in row  262  :  100
Nan in row  263  :  100
Nan in row  264  :  100
Nan in row  265  :  100
Nan in row  266  :  100
Nan in row  267  :  100
Nan in row  268  :  100
Nan in row  269  :  100
Nan in row  270  :  100
Nan in row  271  :  100
Nan in row  272  :  100
Nan in row  273  :  100
Nan in row  274  :  100
Nan in row  275  :  100
Nan in row  276  :  100
Nan in row  277  :  100
Nan in row  278  :  100
Nan in row  279  :  100
Nan in row  280  :  100
Nan in row  281  :  100
Nan in row  282  :  100
Nan in row  283  :  100
Nan in row  284  :  100
Nan in row  285  :  100
Nan in row  286  :  100
Nan in row  287  :  100
Nan in row  288  :  100
Nan in row  289  :  100
Nan in row  290  :  100
Nan in row  291  :  100
Nan in row  292  :  100
Nan in row  293  :  100
Nan in row  294  :  100
Nan in row  295  :  100
Nan in row  296  :  100
Nan in row  297  :  100
Nan in row  298  :  100
Nan in row  299  :  100
Nan in row  300  :  100
Nan in row  301  :  100
Nan in row  302  :  100
Nan in row  303  :  100
Nan in row  304  :  100
Nan in row  305  :  100
Nan in row  306  :  100
Nan in row  307  :  100
Nan in row  308  :  100
Nan in row  309  :  100
Nan in row  310  :  100
Nan in row  311  :  100
Nan in row  312  :  100
Nan in row  313  :  0
Nan in row  314  :  100
Nan in row  315  :  100
Nan in row  316  :  100
Nan in row  317  :  100
Nan in row  318  :  100
Nan in row  319  :  100
Nan in row  320  :  100
Nan in row  321  :  100
Nan in row  322  :  100
Nan in row  323  :  100
Nan in row  324  :  100
Nan in row  325  :  100
Nan in row  326  :  100
Nan in row  327  :  100
Nan in row  328  :  100
Nan in row  329  :  100
Nan in row  330  :  100
Nan in row  331  :  100
Nan in row  332  :  100
Nan in row  333  :  100
Nan in row  334  :  100
Nan in row  335  :  100
Nan in row  336  :  100
Nan in row  337  :  100
Nan in row  338  :  100
Nan in row  339  :  100
Nan in row  340  :  100
Nan in row  341  :  100
Nan in row  342  :  100
Nan in row  343  :  100
Nan in row  344  :  100
Nan in row  345  :  100
Nan in row  346  :  100
Nan in row  347  :  100
Nan in row  348  :  100
Nan in row  349  :  100
Nan in row  350  :  100
Nan in row  351  :  100
Nan in row  352  :  100
Nan in row  353  :  100
Nan in row  354  :  100
Nan in row  355  :  100
Nan in row  356  :  100
Nan in row  357  :  100
Nan in row  358  :  100
Nan in row  359  :  100
Nan in row  360  :  100
Nan in row  361  :  100
Nan in row  362  :  100
Nan in row  363  :  100
Nan in row  364  :  100
Nan in row  365  :  100
Nan in row  366  :  100
Nan in row  367  :  100
Nan in row  368  :  100
Nan in row  369  :  100
Nan in row  370  :  100
Nan in row  371  :  100
Nan in row  372  :  100
Nan in row  373  :  100
Nan in row  374  :  100
Nan in row  375  :  100
Nan in row  376  :  100
Nan in row  377  :  100
Nan in row  378  :  100
Nan in row  379  :  100
Nan in row  380  :  100
Nan in row  381  :  100
Nan in row  382  :  100
Nan in row  383  :  100
Nan in row  384  :  100
Nan in row  385  :  100
Nan in row  386  :  100
Nan in row  387  :  100
Nan in row  388  :  100
Nan in row  389  :  100
Nan in row  390  :  100
Nan in row  391  :  100

2). Elimine las columnas que tengan más del 97% de valores perdidos.

In [ ]:
       # <Tu código va aquí>

3). Elimine de las columnas innecesarias. SUGERENCIA: Aquellas columnas con "time" en el nombre y aquellas que obviamente son innecesarias.

In [ ]:
       # <Tu código va aquí>

4). Codifique la etiqueta de la variable de respuesta. SUGERENCIA: use preprocessing.LabelEncoder ().

In [ ]:
       # <Tu código va aquí>

5). Realizar escalado min-max de las variables exploratorias. SUGERENCIA: utilice preprocesamiento.MinMaxScaler ().

In [ ]:
       # <Tu código va aquí>

6). Elija un algoritmo y realice el análisis predictivo.
- Optimizar el (los) hiperparámetro (s)
- Calcule la precisión.
- Consiga una precisión superior al 90%.

In [ ]:
       # <Tu código va aquí>