## Quiz #0102 (Solución)

#### Use una función lambda y `map()` para responder las siguientes preguntas.

1). Agregue 1 a cada elemento de la lista 'a' y cree otra lista. <br>

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(map(lambda x: x+1,a))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

2). Multiplique los elementos las listas 'a' y 'b'. Mostrar el resultado como otra lista.

a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

In [11]:
a = [2, 4, 6, 8, 10]

In [12]:
b = [10, 8, 6, 4, 2]

In [13]:
list(map(lambda x, y: x * y, a, b))

[20, 32, 36, 32, 20]

#### Use una función lambda y `filter()` para responder las siguientes preguntas.

3). Encuentra los múltiplos de 5 en el rango 1 ~ 100. Mostrar el resultado como una lista.

In [14]:
a = range(1,101)

In [15]:
print(list(filter(lambda x: x % 5 == 0, a)))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

4). En la siguiente lista, encuentre los valores mayores que 160. Muestre el resultado como una lista.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [16]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [17]:
list(filter(lambda x: x >= 160, a))

[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]

5). En la siguiente lista, encuentre los valores mayores que 160 y menores que 165. Muestre el resultado como una lista.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [18]:
a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [19]:
list(filter(lambda x: x > 160 and x < 165, a))

[160.3, 161.1, 164.9]

6). En la siguiente lista de nombres, extraiga solo aquellos que comienzan con 'J'. Mostrar el resultado como una lista.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [20]:
a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [21]:
list(filter(lambda x: x.upper()[0] == 'J', a))

['Jack', 'Jennifer', 'John']