## Ejercicio de codificación #0103

### 1. List:

#### 1.1. Creando listas:

In [ ]:
x = [1, 3, True, False, 'Hello', [3,5,7]]
type(x)

In [ ]:
# Un rango.
range(1,5)

In [ ]:
# Un rango convertido en lista.
x = list(range(1,5))
x

In [ ]:
list(range(1,10,2))

In [ ]:
list(range(0,21,5))

#### 1.2. Indexando y particionando listas:

In [ ]:
x = [1, 2, ['Life', 'is']]
x[1]

In [ ]:
x[2]

In [ ]:
x[2][1]

In [ ]:
x = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
x[2:5]

In [ ]:
x[3][:2]

#### 1.3. Operaciones con listas:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

In [ ]:
x = [1, 2, 3]
x*3

#### 1.4. Modificando el contenido de una lista:

In [ ]:
x = [1, 2, 3]
x[1] = -1
x

In [ ]:
x[1:3] = [3, 5, 7, 9, 11]
x

Distingamos cuidadosamente los siguientes casos:

In [ ]:
# Reemplazar parte de una lista.
x = [1, 2, 3]
x[1:2] = [-1, -2, -3]
x

In [ ]:
# Listar un elemento particular de la lista.
x = [1, 2, 3]
x[1] = [-1, -2, -3]
x

#### 1.5. Borrando parte de una lista:

In [ ]:
x = [1, 2, 3, 4, 5]
x[1:3] = []
x

In [ ]:
x = [1, 2, 3, 4, 5]
del x[2]
x

#### 1.6. Funciones y métodos para objetos de tipo lista:

In [ ]:
x = [2,4,6,8,10]
len(x)

In [ ]:
x = [1, 2, 3]
x.append(4)
x.append([5,6])
x

In [ ]:
x = [1, 2, 3, 4, 5]
x.reverse()
x

In [ ]:
# El método sort() cambia la lista permanentemente.
x = [3, 1, 5, 2, 4]
x.sort()
x

In [ ]:
x = [3, 1, 5, 2, 4]
x.sort(reverse=True)
x

In [ ]:
# La función sorted() devuelve una lista ordenada sin modificarla.
x = [3, 1, 5, 2, 4]
sorted(x)

In [ ]:
# Podemos verificar que 'x' mantiene su valor.
x

### 2. Tuple:

#### 2.1. Creando tuplas:

In [ ]:
x = (1, 3, True, False, 'Hello', [3,5,7])
type(x)

In [ ]:
# Un rango convertido en una tupla.
x = tuple(range(1,5))
x

#### 2.2. Indexando y particionando tuplas:

In [ ]:
x = (1, 2, ('Life', 'is'))
x[2]

In [ ]:
x[2][1]

In [ ]:
x = (1, 2, 3, ['a', 'b', 'c'], 4, 5)
x[3][:2]

#### 2.3. Operaciones con tuplas:

In [ ]:
a = (1, 2, 3)
b = (4, 5, 6)
a + b

In [ ]:
a * 3

### 3. Dictionary:

#### 3.1. Creando diccionarios:

In [ ]:
d = {'x':[1,2,3], 'y':[4,5,6]}

In [ ]:
d['x']

In [ ]:
x['y']

#### 3.2. Añadiendo pares clave-valor, borrado, actualización:

In [ ]:
d = {}
d['name'] = 'John'
d['gender'] = 'Male'
d['age'] = 23
d

In [ ]:
del d['age']
d

In [ ]:
d['name'] = 'Andrew' 
d

#### 3.3. Métodos y operaciones sobre diccionarios:

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d.clear()
d

In [ ]:
d = {'name': 'John', 'gender': 'Male', 'age': 23} 
d.get('wage', 0)

In [ ]:
# Comprobar si 'name' es una clave de d.
'name' in d

In [ ]:
# Comprobar si 'wage' es una clave de d.
'wage' in d

### 4. Set:

#### 4.1. Creando un conjunto:

In [ ]:
b = set([1,2,3,3,3,3,4,5])
b

#### 4.2. Operaciones con conjuntos:

In [ ]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s1 & s2

In [ ]:
s1.intersection(s2)

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

In [ ]:
s1 - s2

In [ ]:
s1.difference(s2)

In [ ]:
a = set([1, 2, 3, 4, 5]) 
a.add(6)
a

In [ ]:
a.update([7, 8, 9])
a

In [ ]:
a.remove(9)
a