## Prueba #0102

#### Use una función lambda y `map()` para responder las siguientes preguntas.

1). Agregue 1 a cada elemento de la lista 'a' y cree otra lista. <br>

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
#primera forma
a = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda n: n+1, a))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [2]:
#segunda forma
a = range(1,11,1)

list(map(lambda n: n+1, a))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

2). Multiplique los elementos las listas 'a' y 'b'. Mostrar el resultado como otra lista.

a = [2, 4, 6, 8, 10]

b = [10, 8, 6, 4, 2]

In [3]:
#primera forma
listA = [2, 4, 6, 8, 10]
listB = [10, 8, 6, 4, 2]

list(map(lambda a,b: a*b, listA, listB))

[20, 32, 36, 32, 20]

In [4]:
#segunda forma
listA = range(2, 11, 2)
listB = range(10, 0, -2)

list(map(lambda a,b: a*b, listA, listB))

[20, 32, 36, 32, 20]

#### Use una función lambda y `filter()` para responder las siguientes preguntas.

## 3). Encuentra los múltiplos de 5 en el rango 1 ~ 100. Mostrar el resultado como una lista.

In [5]:
numeros = range(1, 100)

list(filter(lambda n: n % 5 == 0, numeros))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

4). En la siguiente lista, encuentre los valores mayores que 160. Muestre el resultado como una lista.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [6]:
lista = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

list(filter(lambda n: n>160, lista))

[160.3, 171.6, 165.34, 167.2, 161.1, 164.9]

5). En la siguiente lista, encuentre los valores mayores que 160 y menores que 165. Muestre el resultado como una lista.

a = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

In [7]:
#lista = [145.2, 160.3, 155.2, 171.6, 165.34, 167.2, 161.1, 164.9]

list(filter(lambda n: n>160 and n<165, lista))

[160.3, 161.1, 164.9]

6). En la siguiente lista de nombres, extraiga solo aquellos que comienzan con 'J'. Mostrar el resultado como una lista.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

In [8]:
nombres = ['Sara','Jack','Rebecca','Jennifer','Paul','Andrew','John']

list(filter(lambda n: n[0]=='J',nombres))

['Jack', 'Jennifer', 'John']