## Prueba #0203

In [1]:
import pandas as pd
import numpy as np
import os

#### Leer los datos.

In [2]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./')                # Reemplazar por la ruta correcta.

In [3]:
df = pd.read_csv('data_sales.csv', header='infer')

In [4]:
df.shape

(43, 5)

In [5]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Responda las siguientes cuestiones.

1). Añada una nueva variable $Amount = UnitPric \times Units$.

In [5]:
df['Amount'] = df['UnitPrice'] * df['Units']
df.head()

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

2). Precio unitario medio de cada región. Use el método groupby().

In [12]:
df.groupby('Region').UnitPrice.mean()

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

3). Precio unitario medio de cada región. Use el método pivot_table().

In [10]:
pivot = pd.pivot_table(df, index='Region', values = 'UnitPrice', aggfunc='mean')
pivot

         UnitPrice
Region
Central  18.018750
East      9.143846
West     53.658333

4). Precio unitario promedio y unidades para cada región en una sentencia de código. Use el método groupby().

In [13]:
df.groupby(['Region'])[['UnitPrice', 'Units']].mean()

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

5). Promedio del precio unitario y de las unidades para cada región en una sentencia de código. Use el método pivot_table().

In [16]:
pivot1 = pd.pivot_table(df, index='Region', values = ['UnitPrice', 'Units'], aggfunc='mean')
#display
pivot1

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

6). Unidades totales para cada región y tipo de artículo en una sentencia de código. Use el método pivot_table(). Rellene los valores faltantes con 0.

In [19]:
pivot2 = pd.pivot_table(df, index='Region', columns = 'Item', values = 'Units', aggfunc='sum', fill_value = 0)
#display
pivot2

Item     Binder  Desk  Pen  Pen Set  Pencil
Region
Central     424     7   27      243     498
East        234     0  175      152     130
West         64     3   76        0      88

7). Cantidad total de ventas para cada región y tipo de artículo en una sentencia de código. Use el método pivot_table(). Rellene los valores faltantes con 0.

In [20]:
pivot3 = pd.pivot_table(df, index='Region', columns = 'Item', values = 'Amount', aggfunc='sum', fill_value = 0)
#display
pivot3

Item      Binder  Desk      Pen  Pen Set   Pencil
Region
Central  5762.63   875   539.73  2421.39  1540.32
East     2535.66     0  1354.25  1748.48   363.70
West     1279.36   825   151.24     0.00   231.12