## Prueba #0202

In [1]:
import pandas as pd
import numpy as np
import os

#### Leer los datos.

In [2]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./')                # Reemplazar por la ruta correcta.

In [3]:
df = pd.read_csv('data_census.csv', header='infer')

In [4]:
df.shape

(281, 6)

In [5]:
df.head(10)
df.duplicated()
df

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
0,109,1001,10078850,4197478,2.40,0.97
1,109,1188,155695,72882,2.14,0.98
2,109,1189,126817,59614,2.13,1.00
3,109,1158,235186,108138,2.17,0.94
4,109,1105,298145,126915,2.35,0.99
...,...,...,...,...,...,...
276,103,1011,63069,27724,2.27,0.94
277,103,1233,48856,24193,2.02,0.91
278,115,1001,615250,251478,2.45,1.01
279,115,1186,454673,182709,2.49,1.00
280,115,1096,160577,68769,2.34,1.02

#### Responda a las preguntas utilizando la librería Pandas.

1). Población total de ProvinceCode igual a 115 y 116:

In [21]:
new_df = df.query('ProvinceCode == 115') 
new_df
other_df = df.query('ProvinceCode == 116')
other_df
average_pop = new_df.append(other_df)
average_pop['Population'].mean()

284301.28571428574

2). Población promedio de las ciudades donde hay más hombres (GenderRatio>1):

In [23]:
y_cities = df[df['GenderRatio'] > 1]
y_cities['Population'].mean()

419221.2076923077

3). Lugares con más hombres (GenderRatio>1) y menos de 2 personas por hogar:

In [24]:
sole_cities = y_cities[y_cities['PersonsHousehold'] < 2]
sole_cities

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
62,112,1155,20825,11172,1.86,1.29
149,101,1240,26790,13433,1.99,1.27
152,101,1017,30066,15485,1.94,1.15
167,117,1033,38027,19145,1.99,1.03
227,113,1120,43566,22248,1.96,1.11
253,104,1163,10304,5365,1.92,1.15

4). Ordene el DataFrame en orden ascendente de 'Hogares'. Mostrar los 10 primeros.

In [37]:
df.sort_values(['Households'], inplace=True)
df.head(10)

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
253,104,1163,10304,5365,1.92,1.15
244,104,1147,17984,8769,2.05,0.97
200,114,1179,23308,10877,2.14,0.98
150,101,1130,24283,11162,2.18,1.17
62,112,1155,20825,11172,1.86,1.29
199,114,1073,25181,11723,2.15,0.98
241,104,1039,24096,12091,1.99,1.00
213,113,1034,27115,12465,2.18,0.95
198,114,1193,26325,12531,2.10,1.00
243,104,1208,26353,13233,1.99,0.98