## Prueba #0202

In [2]:
import pandas as pd
import numpy as np
import os

#### Leer los datos.

In [3]:
# Ir al directorio en el que se encuentra el archivo. 
os.chdir(r'./')                # Reemplazar por la ruta correcta.

In [4]:
df = pd.read_csv('data_census.csv', header='infer')

In [5]:
df.shape

(281, 6)

In [6]:
df.head(10)

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
0,109,1001,10078850,4197478,2.40,0.97
1,109,1188,155695,72882,2.14,0.98
2,109,1189,126817,59614,2.13,1.00
3,109,1158,235186,108138,2.17,0.94
4,109,1105,298145,126915,2.35,0.99
5,109,1032,362197,158769,2.28,0.97
6,109,1065,362604,160110,2.26,1.01
7,109,1190,417976,177077,2.36,1.00
8,109,1106,464176,192670,2.41,0.96
9,109,1006,333523,141325,2.36,0.97

#### Responda a las preguntas utilizando la librería Pandas.

1). Población total de ProvinceCode igual a 115 y 116:

In [13]:
fil = df[(df.ProvinceCode == 115) | (df.ProvinceCode == 116)]
sum(fil.Population)

5970327

2). Población promedio de las ciudades donde hay más hombres (GenderRatio>1):

In [10]:
df[(df.GenderRatio>1)].Population.mean()

419221.2076923077

3). Lugares con más hombres (GenderRatio>1) y menos de 2 personas por hogar:

In [7]:
df[(df.GenderRatio>1) & (df.PersonsHousehold < 2)]

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
62,112,1155,20825,11172,1.86,1.29
149,101,1240,26790,13433,1.99,1.27
152,101,1017,30066,15485,1.94,1.15
167,117,1033,38027,19145,1.99,1.03
227,113,1120,43566,22248,1.96,1.11
253,104,1163,10304,5365,1.92,1.15

4). Ordene el DataFrame en orden ascendente de 'Hogares'. Mostrar los 10 primeros.

In [22]:
df.head(10).sort_values(by=['Households'], ascending=True)

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
2,109,1189,126817,59614,2.13,1.00
1,109,1188,155695,72882,2.14,0.98
3,109,1158,235186,108138,2.17,0.94
4,109,1105,298145,126915,2.35,0.99
9,109,1006,333523,141325,2.36,0.97
5,109,1032,362197,158769,2.28,0.97
6,109,1065,362604,160110,2.26,1.01
7,109,1190,417976,177077,2.36,1.00
8,109,1106,464176,192670,2.41,0.96
0,109,1001,10078850,4197478,2.40,0.97